// Primary colors

// intro and email sign up background
$intro-dark-blue: hsl(217, 28%, 15%);
// main background
$main-dark-blue: hsl(218, 28%, 13%);
// footer background
$footer-dark-blue: hsl(216, 53%, 9%);
// testimonial background
$testimonial-dark-blue: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);

// Accent colors

// inside call-to-action gradient
$cyan: hsl(176, 68%, 64%);
$light-blue: hsl(198, 60%, 50%);
// error
$light-red: hsl(0, 100%, 63%);
