#features {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 35rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .block {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 2.5%;

            @include breakpoint-down(medium) {
                width: 80%;
            }

            .img-container {
                width: 2.75rem; //44px
                height: 2.75rem;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            h5 {
                font-size: 0.875rem; //14px
                margin-bottom: 0.675rem;
            }
            p {
                font-size: 0.625rem; //10px
            }
        }
    }
}
