.footer {
    background-color: $footer-dark-blue;
    display: flex;
    flex-direction: column;
    padding: 2.5rem; // 40px
    font-size: 0.625rem; // 10px

    .logo-container {
        margin: 6.25rem 0 1rem 1.25rem; // 100px 0 16px 20px

        img {
            width: 5.625rem; // 90px
        }
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        margin-left: 1.25rem; // 20px

        @include breakpoint-down(medium) {
            flex-direction: column;
        }

        ul {
            padding: 0;
            display: flex;
            list-style: none;
            flex-direction: column;
            margin-right: 1rem; // 16px
            flex: 0 0 auto;

            li {
                display: flex;
                margin-bottom: 0.875rem; // 14px

                a {
                    color: $white;
                }

                img {
                    max-width: 1rem; // 16px
                    max-height: 1.125rem; // 18px
                    margin-right: 0.875rem; // 14px
                }
                p {
                    margin: 0;
                }
            }

            &.location-container {
                flex: 2 1 20%;
                max-width: 40%;

                @include breakpoint-down(medium) {
                    max-width: 100%;
                }
            }
        }

        .socialmedia-container {
            display: flex;
            justify-content: center;

            a {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                border: 1px solid $white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.875rem; // 14px

                &:not(:last-child) {
                    margin-right: 0.25rem;
                }

                svg {
                    max-width: 60%;
                    max-height: 60%;
                    fill: $white;
                }
            }
        }
    }
}
