.productive {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0; // 16px

    @include breakpoint-down(medium) {
        flex-direction: column;
        align-items: center;
    }

    & > img {
        width: 16rem; // 256 px
        margin-right: 2rem;

        @include breakpoint-down(medium) {
            width: 60%;
        }
    }
    .container {
        width: 80%;
        max-width: 20rem; // 320px

        h2 {
            font-size: 1.2rem;
            margin: 1.2rem 0;
        }
        p {
            font-size: 0.675rem; // 10px
            margin-bottom: 1rem; // 10px
        }
        a {
            font-size: 0.5rem; // 8px
            color: $cyan;
            display: flex;
            align-items: center;
            text-decoration: none;

            img {
                width: 0.675rem; //10px
                margin-left: 0.25rem;
            }

            &:hover {
                text-decoration: underline;
                text-underline-offset: 0.2rem;
            }
        }
    }
}
