@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 18.75rem;
  margin: 0;
  padding: 0;
  background-color: #181f2a;
  color: white;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

@media only screen and (min-width: 90rem) {
  body {
    width: 90rem;
  }
}

button {
  border: none;
  cursor: pointer;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
  background-color: #1c2431;
}

@media only screen and (max-width: 25rem) {
  .header {
    padding: 1.5rem;
  }
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo img {
  width: 5.625rem;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .links a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 0.875rem;
}

@media only screen and (max-width: 25rem) {
  .header .links a {
    font-size: 0.75rem;
  }
}

.header .links a:not(:last-child) {
  margin-right: 1.875rem;
}

@media only screen and (max-width: 43.6875rem) {
  .header .links a:not(:last-child) {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 25rem) {
  .header .links a:not(:last-child) {
    margin-right: 10px;
  }
}

.header .links a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.25rem;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100% 15.75rem;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 22.5rem;
}

@media only screen and (max-width: 43.6875rem) {
  .hero .container {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 25rem) {
  .hero .container {
    width: 75%;
  }
}

.hero .container img {
  width: 100%;
}

@media only screen and (max-width: 43.6875rem) {
  .hero .container img {
    width: 75%;
  }
}

@media only screen and (max-width: 25rem) {
  .hero .container img {
    width: 75%;
  }
}

.hero .container h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.hero .container p {
  font-size: 0.75rem;
}

.hero .container button {
  width: 8.75rem;
  height: 1.75rem;
  border-radius: 0.875rem;
  margin-top: 1rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
  margin-bottom: 5.5rem;
}

.hero .container button:hover {
  background: #65e2d9;
}

.hero .bg-curvy {
  width: 100%;
}

#features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features .container {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#features .container .block {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2.5%;
}

@media only screen and (max-width: 43.6875rem) {
  #features .container .block {
    width: 80%;
  }
}

#features .container .block .img-container {
  width: 2.75rem;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .container .block .img-container img {
  max-height: 100%;
  max-width: 100%;
}

#features .container .block h5 {
  font-size: 0.875rem;
  margin-bottom: 0.675rem;
}

#features .container .block p {
  font-size: 0.625rem;
}

.productive {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

@media only screen and (max-width: 43.6875rem) {
  .productive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.productive > img {
  width: 16rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 43.6875rem) {
  .productive > img {
    width: 60%;
  }
}

.productive .container {
  width: 80%;
  max-width: 20rem;
}

.productive .container h2 {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

.productive .container p {
  font-size: 0.675rem;
  margin-bottom: 1rem;
}

.productive .container a {
  font-size: 0.5rem;
  color: #65e2d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.productive .container a img {
  width: 0.675rem;
  margin-left: 0.25rem;
}

.productive .container a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.testimonial {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80%;
  max-width: 40rem;
  padding: 1.25rem 0.375rem;
}

@media only screen and (max-width: 43.6875rem) {
  .testimonial .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial .container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.75rem;
  height: 1.5rem;
}

@media only screen and (max-width: 43.6875rem) {
  .testimonial .container > img {
    top: 0.5rem;
    left: 0.5rem;
  }
}

.testimonial .container .tes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202a3c;
  padding: 1.5rem 0.875rem 0.875rem 0.875rem;
  z-index: 1;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 43.6875rem) {
  .testimonial .container .tes-container {
    margin: 0.5rem;
  }
}

.testimonial .container .tes-container:not(:last-child) {
  margin-right: 1.25rem;
}

@media only screen and (max-width: 43.6875rem) {
  .testimonial .container .tes-container:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.testimonial .container .tes-container > p {
  font-size: 0.625rem;
}

.testimonial .container .tes-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.875rem;
}

.testimonial .container .tes-container .profile-container .profile-img {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.testimonial .container .tes-container .profile-container .profile-img img {
  width: 100%;
}

.testimonial .container .tes-container .profile-container .info {
  font-size: 0.5rem;
}

.testimonial .container .tes-container .profile-container .info p:first-child {
  font-weight: 700;
}

.testimonial .container .tes-container .profile-container .info p:last-child {
  font-size: 0.375rem;
}

.email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email .container {
  width: 80%;
  max-width: 28rem;
  text-align: center;
  background-color: #202a3c;
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  border-radius: 0.25rem;
  margin-top: 1.375rem;
  position: relative;
  top: 3.625rem;
}

.email .container h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.email .container p {
  font-size: 0.675rem;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 43.6875rem) {
  .email .container p {
    text-align: left;
  }
}

.email .container input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  border: none;
  padding-left: 1rem;
  position: relative;
  top: 2px;
}

.email .container input:focus {
  border: 1px solid #65e2d9;
  outline: none;
}

.email .container input::-webkit-input-placeholder {
  font-size: 0.5rem;
}

.email .container input:-ms-input-placeholder {
  font-size: 0.5rem;
}

.email .container input::-ms-input-placeholder {
  font-size: 0.5rem;
}

.email .container input::placeholder {
  font-size: 0.5rem;
}

@media only screen and (max-width: 43.6875rem) {
  .email .container input {
    width: 100%;
    top: 0;
  }
}

.email .container button {
  width: 6.125rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
  font-size: 0.5rem;
  margin-left: 0.675rem;
}

@media only screen and (max-width: 43.6875rem) {
  .email .container button {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.email .container button:hover {
  background: #65e2d9;
}

.footer {
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
  font-size: 0.625rem;
}

.footer .logo-container {
  margin: 6.25rem 0 1rem 1.25rem;
}

.footer .logo-container img {
  width: 5.625rem;
}

.footer .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.25rem;
}

@media only screen and (max-width: 43.6875rem) {
  .footer .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .info-container ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .info-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
}

.footer .info-container ul li a {
  color: white;
}

.footer .info-container ul li img {
  max-width: 1rem;
  max-height: 1.125rem;
  margin-right: 0.875rem;
}

.footer .info-container ul li p {
  margin: 0;
}

.footer .info-container ul.location-container {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20%;
          flex: 2 1 20%;
  max-width: 40%;
}

@media only screen and (max-width: 43.6875rem) {
  .footer .info-container ul.location-container {
    max-width: 100%;
  }
}

.footer .info-container .socialmedia-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .info-container .socialmedia-container a {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.875rem;
}

.footer .info-container .socialmedia-container a:not(:last-child) {
  margin-right: 0.25rem;
}

.footer .info-container .socialmedia-container a svg {
  max-width: 60%;
  max-height: 60%;
  fill: white;
}
/*# sourceMappingURL=style.css.map */