@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181f2a;
  color: white;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
  background-color: #1c2431;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo img {
  width: 5.625rem;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .links a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 0.875rem;
}

.header .links a:not(:last-child) {
  margin-right: 1.875rem;
}

.header .links a:hover {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1%;
  cursor: pointer;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100% 15.75rem;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 22.5rem;
}

.hero .container img {
  width: 100%;
}

.hero .container h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.hero .container p {
  font-size: 0.75rem;
}

.hero .container button {
  width: 8.75rem;
  height: 1.75rem;
  border-radius: 0.875rem;
  margin-top: 1rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
  margin-bottom: 5.5rem;
}

.hero .container button:hover {
  background: #65e2d9;
}

.hero .bg-curvy {
  width: 100%;
}

.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.features .container .block {
  width: 17rem;
  height: 7.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.features .container .block:nth-child(3), .features .container .block:nth-child(4) {
  margin-top: 5%;
}

.features .container .block .img-container {
  width: 2.75rem;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .container .block .img-container img {
  max-height: 100%;
  max-width: 100%;
}

.features .container .block h5 {
  font-size: 0.875rem;
  margin-bottom: 0.675rem;
}

.features .container .block p {
  font-size: 0.625rem;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem;
}

.productive > img {
  width: 20rem;
  margin-right: 2rem;
}

.productive .container {
  width: 20rem;
}

.productive .container h2 {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

.productive .container p {
  font-size: 0.675rem;
  margin-bottom: 1rem;
}

.productive .container a {
  font-size: 0.5rem;
  color: #65e2d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive .container a img {
  width: 0.675rem;
  margin-left: 0.25rem;
}

.productive .container a:hover {
  color: white;
}

.productive .container a:hover img {
  color: white;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40rem;
  padding: 1.25rem 0.375rem;
}

.testimonial .container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.75rem;
  height: 1.5rem;
}

.testimonial .container .tes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202a3c;
  padding: 1.5rem 0.875rem 0.875rem 0.875rem;
  z-index: 1;
  border-radius: 0.25rem;
}

.testimonial .container .tes-container:not(:last-child) {
  margin-right: 1.25rem;
}

.testimonial .container .tes-container > p {
  font-size: 0.625rem;
}

.testimonial .container .tes-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.875rem;
}

.testimonial .container .tes-container .profile-container .profile-img {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.testimonial .container .tes-container .profile-container .profile-img img {
  width: 100%;
}

.testimonial .container .tes-container .profile-container .info {
  font-size: 0.5rem;
}

.testimonial .container .tes-container .profile-container .info p:first-child {
  font-weight: 700;
}

.testimonial .container .tes-container .profile-container .info p:last-child {
  font-size: 0.375rem;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email .container {
  width: 28rem;
  text-align: center;
  background-color: #202a3c;
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  border-radius: 0.25rem;
  margin-top: 1.375rem;
  position: relative;
  top: 3.625rem;
}

.email .container h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.email .container p {
  font-size: 0.675rem;
  margin-bottom: 1.2rem;
}

.email .container input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  border: none;
  padding-left: 1rem;
  position: relative;
  top: 2px;
}

.email .container input:focus {
  border: 1px solid #65e2d9;
  outline: none;
}

.email .container input::-webkit-input-placeholder {
  font-size: 0.5rem;
}

.email .container input:-ms-input-placeholder {
  font-size: 0.5rem;
}

.email .container input::-ms-input-placeholder {
  font-size: 0.5rem;
}

.email .container input::placeholder {
  font-size: 0.5rem;
}

.email .container button {
  width: 6.125rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9 0%, #339ecc 100%);
  font-size: 0.5rem;
  margin-left: 0.675rem;
}

.email .container button:hover {
  background: #65e2d9;
}

.footer {
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
  padding-bottom: 2.875rem;
}

.footer .logo-container {
  margin: 6.25rem 0 1rem 1.25rem;
}

.footer .logo-container img {
  width: 5.625rem;
}

.footer .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .info-container .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.5rem;
  margin-left: 1.25rem;
  width: 15rem;
}

.footer .info-container .location-container p {
  font-size: 0.675rem;
}

.footer .info-container img {
  width: 0.875rem;
  margin-right: 0.875rem;
}

.footer .info-container li {
  list-style: none;
  font-size: 0.675rem;
  margin-bottom: 0.5rem;
}

.footer .info-container li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  width: 5rem;
}

.footer .info-container li a:hover {
  font-weight: 700;
}

.footer .info-container .socialmedia-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .info-container .socialmedia-container a {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .info-container .socialmedia-container a:not(:last-child) {
  margin-right: 0.25rem;
}

.footer .info-container .socialmedia-container a svg {
  max-width: 60%;
  max-height: 60%;
  fill: white;
}
/*# sourceMappingURL=style.css.map */